/* 1320 */
@media only screen and (max-width:1320px) {
    /* ourServices1 */
    .ourServices1{
        margin-left: 100px;
    }
}

/* 1100 */
@media only screen and (max-width:1100px) {
    /* ourServices1 */
    .ourServices1{
        margin-left: 50px;
    }

    .ourServices{
        height: 120vh;
    }
}

/* 1030 */
@media only screen and (max-width:1030px) {
    /* our services */
    .ourServices{
        display: block;
        height: 150vh;
    }

    .ourServises2Out{
        margin-left: 20px;
    }

    /* ourServices1 */
    .ourServices1{
        padding-top: 100px;
        width: 800px;
    }

    .ourServices1 h2{
        margin-top: 0;
    }

    /* ourServices3 */
    .ourServices3{
        margin-top: -100px;
        width: 500px;
        transition: all .3s linear;
    }
}

/* 880 */
@media only screen and (max-width:880px) {
    /* our services */
    .ourServices{
        height: 160vh;
    }
    /* ourServices1 */
    .ourServices1{
        padding-top: 100px;
        width: 600px;
    }
}

/* 700 */
@media only screen and (max-width:700px) {

    /* ourServices1 */
    .ourServices1{
        width: 500px;
    }

    /* ourServices3 */
    .ourServices3{
        width: 400px;
    }
}


/* 570 */
@media only screen and (max-width:570px) {
    /* our services */
    .ourServices{
        height: 170vh;
    }

    /* ourServices1 */
    .ourServices1{
        width: 400px;
    }
}

/* 500 */
@media only screen and (max-width:500px) {
    .up{
        margin-top: 120px;
    }
}


/* height */
/*880*/
@media only screen and (max-height:880px){

    /* ourServices2 */
    .ourServices2{
        margin-top: 10px;
        width: 150px;
        height: 400px;
        gap: 0px;
    }

    /* ourServices3 */
    .ourServices3{
        margin-top: 0px;
        width: 350px;
    }
    
    .ourServicesIn{
        margin-top: 30px;
    }
}

/*880*/
/* @media only screen and (max-height:880px){
    .ourServices{
        padding-bottom: 200px;
    }
} */

/*755*/
@media only screen and (max-height:755px){
    .ourServices{
        height: 170vh;
    }

    
}

/*690*/
/* @media only screen and (max-height:690px){
    .ourServices{
        height: 190vh;
    }

} */

/* 650 */
@media only screen and (max-height:650px){
    .ourServices{
        height: 200vh;
    }
}

/* 540 */
@media only screen and (max-height:540px){
    .ourServices{
        height: 210vh;
    }
}

/* 510 */
@media only screen and (max-height:510px){
    .ourServices{
        height: 230vh;
    }
}

/* 470 */
@media only screen and (max-height:470px){
    .ourServices{
        height: 250vh;
    }
}

/* 435 */
@media only screen and (max-height:435px){
    .ourServices{
        height: 270vh;
    }
}

/* 400 */
@media only screen and (max-height:400px){
    .ourServices{
        height: 300vh;
    }
}

/* 370 */
@media only screen and (max-height:370px){
    .ourServices{
        height: 330vh;
    }
}

/* 326 */
@media only screen and (max-height:326px){
    .ourServices{
        height: 360vh;
    }
}

/* 300 */
@media only screen and (max-height:300px){
    .ourServices{
        height: 390vh;
    }
}

/* 280 */
@media only screen and (max-height:280px){
    .ourServices{
        height: 430vh;
    }
}

/* 250 */
@media only screen and (max-height:250px){
    .ourServices{
        height: 470vh;
    }
}

/* 230 */
@media only screen and (max-height:230px){
    .ourServices{
        height: 500vh;
    }
}

/* 215 */
@media only screen and (max-height:215px){
    .ourServices{
        height: 600vh;
    }
}

/* /* ///////////////////////////////////////////////////////// */



/*  912  1300*/
@media only screen and (max-width:912px) and (max-height:1300px){
    .ourServices{
        height: 110vh;
    }
}

/*  912  1200*/
@media only screen and (max-width:912px) and (max-height:1200px){
    .ourServices{
        height: 130vh;
    }
}

/*  912  1012*/
@media only screen and (max-width:912px) and (max-height:1012px){
    .ourServices{
        height: 150vh;
    }
}

/*  912  890*/
@media only screen and (max-width:912px) and (max-height:890px){
    .ourServices{
        height: 170vh;
    }
}

/*  912  650*/
@media only screen and (max-width:912px) and (max-height:650px){
    .ourServices{
        height: 190vh;
    }
}

/*  912  570*/
@media only screen and (max-width:912px) and (max-height:570px){
    .ourServices{
        height: 210vh;
    }
}

/*  912  520*/
@media only screen and (max-width:912px) and (max-height:520px){
    .ourServices{
        height: 240vh;
    }
}

/*  912  450*/
@media only screen and (max-width:912px) and (max-height:450px){
    .ourServices{
        height: 280vh;
    }
}

/*  912  390*/
@media only screen and (max-width:912px) and (max-height:390px){
    .ourServices{
        height: 320vh;
    }
}

/*  912  340*/
@media only screen and (max-width:912px) and (max-height:340px){
    .ourServices{
        height: 360vh;
    }
}

/*  912  300*/
@media only screen and (max-width:912px) and (max-height:300px){
    .ourServices{
        height: 420vh;
    }
}

/*  912  260*/
@media only screen and (max-width:912px) and (max-height:260px){
    .ourServices{
        height: 500vh;
    }
}

/*  912  220*/
@media only screen and (max-width:912px) and (max-height:220px){
    .ourServices{
        height: 600vh;
    }
}


/* 776  613*/
@media only screen and (max-width:776px) and (max-height:613px){
    .ourServices{
        height: 250vh;
    }
}


/* 732  500*/
@media only screen and (max-width:732px) and (max-height:500px){
    .ourServices{
        height: 300vh;
    }
}

/* 649  407*/
@media only screen and (max-width:649px) and (max-height:407px){
    .ourServices{
        height: 350vh;
    }
}


/* 622  348*/
@media only screen and (max-width:622px) and (max-height:348px){
    .ourServices{
        height: 400vh;
    }
}

/* 577  300*/
@media screen and (max-width:577px) and (max-height:300px){
    .ourServices{
        height: 450vh;
    }
}

/* 571  274*/
@media only screen and (max-width:571px) and (max-height:274px){
    .ourServices{
        height: 550vh;
    }
}

/* 555  247*/
@media only screen and (max-width:555px) and (max-height:247px){
    .ourServices{
        height: 650vh;
    }
}

@media only screen and (max-width:562px) and (max-height: 635px) {
    .ourServices{
        padding-bottom: 150px ;
    }
  }

/* ///////////////////////////////////////////////////////// */


/* 912  931*/
/* @media only screen and (max-width:912px) and (max-height:935px){
    .ourServices{
        height: 450vh;
    }
} */








/* phone */
/* iphone se */
/* @media only screen and (max-width:375px) and  (max-height:667px){


    .ourServices{
        width: 65vh;
        height: 270vh;
    }

    .ourServices1{
        width: 300px;
    }

    .ourServices1 h2{
        font-size: 50px;
    }

    .ourServices1 h2 br{
        display: block;
    }

    .cube{
        margin-top: 50px;
        width:80px;
        height: 80px;
    }

    .ourServices3{
        width: 300px;
    }

    .ourServicesIn{
        width: 250px;
    }
} */

/* iphone xr */
/* @media only screen and (max-width:414px) and  (max-height:896px){
    .ourServices{
        height: 220vh;
    }
    .ourServices1{
        width: 290px;
    }
} */


/* samsung s8+ */
/* @media only screen and (max-width:360px) and  (max-height:740px){
    .ourServices{
        width: 65vh;
        height: 220vh;
    }

    .ourServices3{
        width: 300px;
    }
} */

/* samsung s20 ultra */
/* @media only screen and (max-width:412px) and  (max-height:915px){
    .ourServices{
        height: 200vh;
    }

    .ourServices1{
        margin-left: 50px;
        width: 300px;
    }

    .ourServices3{
        width: 300px;
    }
} */

/* surface pro 7 */
/* @media only screen and (max-width:912px) and (max-height:1368px){
    .ourServices{
        height: 100vh;
    }
} */

/* surface Duo */
/* @media only screen and (max-width:540px) and (max-height:720px){
    .ourServices{
        height: 190vh;
    }
} */

/* galaxy fold */
/* @media only screen and (max-width:280px) and (max-height:653px){
    .header{
        width: 400px;
        height: 100px;
    }

    .ourServices{
        height: 260vh;
    }
} */

/* galaxy a51/71 */
/* @media only screen and (max-width:412px) and (max-height:914px){

    .ourServices{
        height: 200vh;
    }
} */
